.services {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(45deg, var(--nkd-white), var(--nkd-plum));
}

.servicesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 var(--lg-space) 0;
}

.serviceBox {
  display: flex;
  align-items: flex-start; 
  background-color: #f4f4f4;
  text-align: left; 
  margin-bottom: var(--xxxl-space); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
}
