:root {
  /* Colours  */
  --nkd-white: #FFF;
  --nkd-white-transparent: rgba(255, 255, 255, 0.9);
  --nkd-off-white: #F3F3F3;
  --nkd-off-white-transparent: rgba(243, 243, 243, 0.9);
  --nkd-dark-grey: #212529;
  --nkd-light-grey: #555555;
  --nkd-lighter-grey: #c7c7c7;
  --nkd-lightest-grey: #cecece;
  --nkd-lightest-grey-transparent: rgba(202, 202, 202, 0.5);
  --nkd-link-hover: #003d7a;
  --nkd-powder-blue: #93B5C6;
  --nkd-powder-blue-transparent: rgba(19, 20, 21, 0.4);
  --nkd-tea-green: #DDEDAA;
  --nkd-tea-green-transparent: rgba(221, 237, 170, 0.8);
  --nkd-naples-yellow: #F0CF65;
  --nkd-naples-yellow-transparent: rgba(240, 207, 101, 0.4);
  --nkd-burnt-sienna: #D7816A;
  --nkd-funchsia-rose: #BD4F6C;
  --nkd-plum: rgba(201, 178, 183, 0.4);
  --sm-space: 5px;
  --md-space: 10px;
  --lg-space: 20px;
  --xl-space: 30px;
  --xxl-space: 40px;
  --xxxl-space: 60px;
  --xxxxl-space: 90px;
}

/* Start of tag styles */

html {
  scroll-behavior: smooth;
  background:var(--nkd-off-white);
}

html,
body {
  margin:0;
  font-family: var(--font-roboto);
  font-weight: 400;
  color:var(--nkd-dark-grey);
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--nkd-dark-grey);
}

a:hover {
  text-decoration: underline;
  color: var(--nkd-link-hover);
}

h1 {
  font-size: 80px;
  line-height: 100px;
  margin:0 0 var(--lg-space) 0;
}

h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  margin:0 0 var(--xxxl-space) 0;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin:0 0 var(--md-space) 0;
}

p, li {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  color: var(--nkd-light-grey);
}

ul {
  margin:0;
  padding:0 0 0 var(--lg-space);
}

li {
  list-style: square;
  margin:0 0 var(--md-space) 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:#FFF;
}

/* End of tag styles */

/* Start of universal styles */

.container {
  width: clamp(400px, calc(100vw - 2 * var(--sm-space)), 1400px);
  padding:var(--xxxxl-space) 0;
  margin:0 auto;
}

.wavey {
  width:100%;
  padding:47px 0;
    --mask:
      radial-gradient(34.99px at 50% 48px,#000 99%,#0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
      radial-gradient(34.99px at 50% -18px,#0000 99%,#000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
      radial-gradient(34.99px at 50% calc(100% - 48px),#000 99%,#0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
      radial-gradient(34.99px at 50% calc(100% + 18px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  background-color: #f0f0f0;
}

.zig-zag {
  --a: 90deg; /* the angle of the spikes */
  --s: 60px;  /* the size of the spikes */
  
  mask: 
    /* Top mask */
    conic-gradient(from calc(180deg - var(--a)/2) at top,
      #0000,#000 1deg var(--a),#0000 calc(var(--a) + 1deg)) 
    50%/var(--s),
    /* Bottom mask */
    conic-gradient(from calc(var(--a)/-2) at bottom,
      #000 var(--a),#0000 0) 50%/var(--s);
    mask-composite: intersect; /* Combines the two masks */
    background: linear-gradient(45deg, #ff00de, #2a00ff);
}

.invisible {
  display:none;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.align-image-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.width-100 {
  width:100%;
}

.full-height {
  height:100%;
}

.box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  padding: var(--md-space);
  border: 5px solid #fa00df63;
  margin: 0 0 10px 0;
}

.box span {
  visibility: hidden;
}

.box::before {
  position: absolute;
  top: -5px;
  left: -5px;
  content: attr(data-content);
  font-weight: 600;
  padding: var(--md-space);
  border: 5px solid #fa00df;
  background-color: var(--nkd-white-transparent);
  margin: 0 0 10px 0;
  transition: border-color 0.3s ease, background-color 0.3s ease, top 0.3s ease, left 0.3s ease;
}

.box:hover::before {
  border-color: var(--nkd-dark-grey);
  background-color: rgba(255, 255, 255, 0.5);
  top: -12px;
  left: -12px;
}

.box.selected::before {
  top: -12px;
  left: -12px;
}

/* Reverse the animation when hovering on selected boxes */
.box.selected::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.box.selected:hover::before {
  top: -5px;
  left: -5px;
  background-color: var(--nkd-white-transparent);
  border-color: var(--nkd-lighter-grey);
}

.border-powder-blue {
  border: 5px solid var(--nkd-powder-blue);
}

.border-tea-green {
  border: 5px solid var(--nkd-tea-green);
}

.border-naples-yellow {
  border: 5px solid var(--nkd-naples-yellow);
}

.border-burnt-sienna {
  border: 5px solid var(--nkd-burnt-sienna);
}

.border-funchsia-rose {
  border: 5px solid var(--nkd-funchsia-rose);
}

.border-dark-grey {
  border: 5px solid var(--nkd-dark-grey);
}

/* End of universal styles */

/* Start of spacing styles */

/* As this is a small project I'm just making them as I need them rather than having an entire set */

.pl-lg {
  padding-left: var(--lg-space);
}

.pr-lg {
  padding-right: var(--lg-space);
}

.pb-0 {
  padding-bottom:0!important;
}

.pt-0 {
  padding-top:0!important;
}

.m-0 {
  margin:0!important;
}

.ml-5 {
  margin-left: 5px!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

/* End of spacing styles */

/* Start of grid system - again this is a small project so instead of building and entire grid system or importing one I'm just creating what I need */

.row {
  display: flex;
  flex-wrap: wrap;
  margin:var(--lg-space);
}

/* Columns */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  padding: calc(var(--xl-space) / 2); /* Half padding on both sides to create even spacing */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.col-4 {
  width: 33.33%;
}

.col-8 {
  width: 66.67%;
}

.col-8.col-gap-1 {
  width: 58.33%;
  margin-right:8.33%;
}

.col-8.col-gap-2 {
  width: 50%;
  margin-right:16.67%;
}

.col-12 {
  width: 100%;
}

/* End of grid system */

/* Align the anchor link div id elements to the bottom of their parent containers */

#services, #work, #about, #contact{
  align-self: flex-end;
}

/* Start of border-box styles - used to animate a border on to links or highlighted areas */

.border-box {
  display: grid;
  place-items: center;
  position: relative;
  background: var(--nkd-white);
}

.border-box::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: padding 0.3s, margin 0.3s;
  animation: animate-colors 6s linear infinite;
}

.border-box:hover::before {
  /* margin:5px -5px -5px 5px; */
  padding: 4px;
}

.services.border-box:hover::before {
  margin: 10px;
  padding: 2px;
}

@keyframes animate-colors {
  0% {
    background: var(--nkd-powder-blue);
  }
  33.33% {
    background: var(--nkd-tea-green);
  }
  66.67% {
    background: var(--nkd-naples-yellow);
  }
  100% {
    background: var(--nkd-powder-blue);
  }
}

/* End of border-box styles */






/* Start of card tilt styling */

.card, .card-tilt-js {
  font-family: var(--font-archivo);
  font-size: 1.75rem;
  color: #000;
  background-color: #FFF;
  padding:var(--xl-space);
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  border-radius: 50px 20px;
  border:1px solid #DDD;
  height: calc(100% - (2 * var(--xl-space)));
}

.card .badge, .card-tilt-js .badge {
  transform: translateZ(40px);
}

.card, .row, .col-1, .card, .row, .col-2, .card, .row, .col-3, .card, .row, .col-4, .card, .row, .col-5, .card, .row, .col-6, .card, .row, .col-7, .card, .row, .col-8, .card, .row, .col-9, .card, .row, .col-10, .card, .row, .col-11, .card, .row, .col-12 {
  transform-style: preserve-3d;
}

.card h2, .card .row .col-8 h2, .card-tilt-js h2,
.card img, .card .row .col-8 img, .card .row .col-4 img {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
  transform: translateZ(60px);
  margin: 0 0 20px 5px;
  max-width: 360px;
}

.card img, .card .row .col-8 img, .card .row .col-4 img {
  transform: translateZ(60px);
}

.card p, .card-tilt-js p {
  font-weight: 300;
  font-size: 17px;
  line-height:28px;
  transform: translateZ(25px);
  color:#000;
  max-width:360px
}

/* End of card tilt styling */


.card.two, .card.three {
  border-radius:  20px 50px;
}

.card.one {
  background-image: url('/dots-bg.png');
  background-repeat: repeat-y;
  background-position: right;
  background-size: auto; 
}

.card.two {
  background-image: url('/diagonal-lines-bg.png');
  background-repeat: repeat-y;
  background-position: right;
  background-size: auto; 
}

.card.three {
  background-image: url('/hexagons-bg.png');
  background-repeat: repeat-y;
  background-position: left; 
  background-size: auto; 
}

.card.four {
  background-image: url('/wavey-lines-bg.png');
  background-repeat: repeat-y;
  background-position: right;
  background-size: auto;
}

.card.five {
  background-image: url('/web-developer.jpg');
  background-repeat: no-repeat;
  background-position: right bottom 15px; 
  background-size: auto;
}

.card.seven, 
.card.eight {
  min-height: 555px;
}

.card.seven {
  background-image: url('/brand.jpg');
  background-repeat: no-repeat;
  background-position: center bottom; 
  background-size: auto;
}

.card.eight {
  background-image: url('/analytics.jpg');
  background-repeat: no-repeat;
  background-position: right bottom; 
  background-size: auto;
}

.card.nine, .card.ten, .card.eleven, .card.twelve {
  /* box-shadow: */
  /* inset 10px 10px 10px rgba(255, 255, 255, 0.5), /* Light shadow */
  /* inset -10px -10px 10px rgba(0, 0, 0, 0.05); Dark shadow */
}

.card.nine {
  background-image: url('/security-updates.png');
  background-repeat: no-repeat;
  background-position: right bottom; 
  background-size: auto;
}

.card.ten {
  background-image: url('/content-updates.png');
  background-repeat: no-repeat;
  background-position: right top; 
  background-size: auto;
}

.card.eleven {
  background-image: url('/performance-monitoring.png');
  background-repeat: no-repeat;
  background-position: left bottom; 
  background-size: auto;
}

.card.twelve {
  background-image: url('/bug-hunting.png');
  background-repeat: no-repeat;
  background-position: right center; 
  background-size: auto;
}

/* Start of bento grid system */

.item {
  height:auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 20px;
}
.mobile-only {
  display: block;
}
.desktop-only {
  display: none;
}

  .item-0 {
    grid-column: 1;
    grid-row: 1;
  }
  
  .item-1 {
    grid-column: 1;
    grid-row: 2;
  }
  
  .item-2 {
    grid-column: 1;
    grid-row: 3;
  }
  
  .item-3 {
    grid-column: 1;
    grid-row: 4;
  }
  
  .item-4 {
    grid-column: 1;
    grid-row: 5;
  }
  
  .item-5 {
    grid-column: 1;
    grid-row: 6;
  }
  
  .item-6 {
    grid-column: 1;
    grid-row: 7;
  }
  
  .item-7 {
    grid-column: 1;
    grid-row: 8;
  }
  
  .item-8 {
    grid-column: 1;
    grid-row: 9;
  }
  
  .item-9 {
    grid-column: 1;
    grid-row: 10;
  }
  
  .item-10 {
    grid-column: 1;
    grid-row: 11;
  }
  
  .item-11 {
    grid-column: 1;
    grid-row: 12;
  }
  @media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 32px;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  
  .item-0 {
    grid-column: 1 / span 7;
    grid-row: 1;
  }
  
  .item-1 {
    grid-column: 8 / span 5;
    grid-row: 1;
  }
  
  .item-2 {
    grid-column: 1 / span 6;
    grid-row: 2;
  }
  
  .item-3 {
    grid-column: 7 / span 6;
    grid-row: 2;
  }
  
  .item-4 {
    grid-column: 1 / span 7;
    grid-row: 3;
  }
  
  .item-5 {
    grid-column: 8 / span 5;
    grid-row: 3;
  }
  
  .item-6 {
    grid-column: 1 / span 5;
    grid-row: 4;
  }
  
  .item-7 {
    grid-column: 6 / span 7;
    grid-row: 4;
  }
  
  .item-8 {
    grid-column: 1 / span 6;
    grid-row: 5;
  }
  
  .item-9 {
    grid-column: 7 / span 6;
    grid-row: 5;
  }
  
  .item-10 {
    grid-column: 1 / span 5;
    grid-row: 6;
  }
  
  .item-11 {
    grid-column: 6 / span 7;
    grid-row: 6;
  }
  
}

/* End of bento grid system */




/* Start of badge styling */

.badge {
  color:#FFF;
  flex-shrink: 0;
  flex-grow: 0; 
  align-self: flex-start; 
  display: inline-block; 
  font-size:10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding:6px 15px;
  margin:0 0 10px 0;
  border-radius: 5px;
  background: #fa00df;
}

.badge.blue {
  background: #8c00f0;
}

.badge.orange {
  background: #3000fe;
}

/* End of badge styling */