/* Start of menu styles */

.mainMenu {
  list-style: none;
  display: flex;
  font-size: 18px;
  font-weight: 500;
}

.mainMenu li {
  margin: 0 20px 0 12px;
}

.mainMenu li:first-child {
  list-style: none;
}

.mainMenu li a {
  padding: var(--md-space);
}





/* End of menu styles */