.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
  font-size: 60px;
  text-align: center;
}

.container {
  display: flex;
}

.nkd {
  min-height: calc(182px - 2* var(--padding-xxl));
  padding: var(--padding-xxl);
  border: 5px solid var(--nkd-naples-yellow);
  font-weight: 500;
  text-align: center;
  background: var(--nkd-off-white);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.06) inset, -10px -10px 10px rgba(255, 255, 255, 0.9) inset;
}

.studio {
  text-align: left;
  font-weight: 300;
  padding: 0 0 0 var(--padding-xl);
}
