.logo {
  position: relative;
}

.nkd {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  font-family: var(--font-open-sans);
  font-weight: 600;
  letter-spacing: 0.1cap;
  padding: var(--sm-space) 4px var(--sm-space) 6px;
  border: 3px solid var(--nkd-powder-blue);
  text-align: center;
  background: var(--nkd-off-white);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06) inset, -5px -5px 5px rgba(255, 255, 255, 0.9) inset;
}

.nkd:hover {
  cursor: pointer;
}

.studio {
  margin:0 0 0 var(--sm-space);
}

.logoButton {
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 71px;
  /* background: #ff5500; */
}

.logoButton:hover {
  cursor: pointer;
}