/* Start of universal styles */

:root {
  /* Colours  */
  --nkd-white: #FFF;
  --nkd-white-transparent: rgba(255, 255, 255, 0.9);
  --nkd-off-white: #F9F9F9;
  --nkd-off-white-transparent: rgba(249, 249, 249, 0.9);
  --nkd-dark-grey: #212529;
  --nkd-powder-blue: #93B5C6;
  --nkd-tea-green: #DDEDAA;
  --nkd-naples-yellow: #F0CF65;
  --nkd-burnt-sienna: #D7816A;
  --nkd-funchsia-rose: #BD4F6C;
  --lg-space: 50px;
  --md-space: 10px;
  --sm-space: 5px;

  /* Sizes */
  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 10px;
  --padding-xl: 30px;
  --padding-xxl: 50px;
}

.container {
  width: clamp(400px, calc(100vw - 2 * var(--padding-small)), 1200px);
  margin:0 auto;
}

.invisible {
  display:none;
}

/* End of universal styles */

/* Start of tag styles */

html,
body {
  margin:0;
  font-family: var(--font-roboto);
  font-weight: 400;
  color:var(--nkd-dark-grey);
  max-width: 100vw;
  overflow-x: hidden;
  background:var(--nkd-white);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-xl);
  background: var(--nkd-white-transparent);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(400px, calc(100vw - 2 * var(--padding-small)), 1600px);
  margin:0 auto;
}

h1 {
  font-size: 80px;
  line-height: 100px;
}

ul {
  margin:0;
}

/* End of tag styles */

/* Start of menu styles */

.main-menu {
  list-style: none;
  display: flex;
  font-size: 18px;
  font-weight: 500;
}

.main-menu li {
  margin: 0 0 0 var(--padding-xxl);
}

/* End of menu styles */
